/* navbar */

@media only screen and (max-width: 1200px) {
    nav {
        padding: 0 40px 0 50px;
    }
    .grid-container {
        margin: 50px 100px;
        width: 80%;
    }
}

@media only screen and (max-width: 1020px) {
    div#slider figure {
        height: 70vh;
    }
    .grid-container {
        grid-template-columns: 1fr;
        margin: 50px 50px;
        width: 90%;
    }
    .lorem {
        padding: 10px 0;
    }
    .box-main {
        margin-top: 100px;
    }
    .fixed-top {
        background-color: transparent;
    }
    nav {
        background-color: transparent;
        width: 92%;
        justify-content: space-between;
    }
    nav .menu-btn i {
        display: block;
    }
    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        padding-bottom: 30px;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked~ul {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-weight: 800;
        font-size: 17px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked~ul li a {
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: #2f2fa2;
    }
    .firstSection {
        height: 50vh;
    }
    .firstHalf {
        width: 40%;
        padding: 14% 30%;
        padding-bottom: 2%;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-family: -webkit-pictograph;
    }
    .firstHalf img {
        border: 4px solid;
        padding: 5px;
        width: 45%;
        font-family: -webkit-pictograph;
    }
    .secondHalf {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 6%;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 800px) {
    .lorem {
        font-size: 10px;
    }
    nav {
        width: 90%;
    }
    div#slider figure {
        height: 50vh;
    }
    .grid-container {
        width: 80%;
    }
}

@media only screen and (max-width: 620px) {
    nav {
        width: 85%;
    }
    div#slider figure {
        height: 40vh;
    }
    body {
        font-size: 13px;
        line-height: 1em;
    }
    .info {
        position: absolute;
        width: 100%;
        max-width: 100%;
        bottom: 0;
        right: 0;
    }
    .inner {
        padding: .5em 1.5em;
        box-shadow: none;
    }
    .buttons {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    div#slider figure {
        height: 30vh;
    }
}