@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    background-color: #222121;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 25pt;
    font-style: normal;
    font-weight: bold;
    color: rgb(164, 10, 125);
    text-align: center;
    padding: 20px;
}

table {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    justify-content: center;
    background-color: linear-gradient(45deg, violet, skyblue);
    border-collapse: collapse;
    border: 5px solid rgb(164, 10, 125);
    border-radius: 15px;
    width: 80%;
    padding: 20px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

table.inner {
    border: 5px
}

.center input[type="text"] {
    color: #fff;
}

.center input[type="submit"] {
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    background: #000000;
    height: 50px;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    font-size: 2rem;
    width: 25%;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(164, 10, 125);
    font-size: 1.6rem;
    font-weight: 600;
    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -ms-transition: all 0.50s ease-in-out;
    transition: all 0.50s ease-in-out;
}

.center input[type="submit"]:hover,
.center input[type="submit"]:focus {
    background: rgb(164, 10, 125);
    color: #191818;
}

.center input[type="reset"] {
    font-family: 'Poppins', sans-serif;
    background: #000000;
    height: 50px;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    font-size: 2rem;
    width: 25%;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(164, 10, 125);
    font-size: 1.6rem;
    font-weight: 600;
    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -ms-transition: all 0.50s ease-in-out;
    transition: all 0.50s ease-in-out;
}

.center input[type="reset"]:hover,
.center input[type="reset"]:focus {
    background: rgb(164, 10, 125);
    color: #191818;
}

.margin {
    margin-bottom: 50px;
}