* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

nav {
    width: auto;
    display: flex;
    height: 100px;
    z-index: 10000;
    align-items: center;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    background-color: #000000;
    transition: 0.4s ease-in-out;
    font-family: Poppins;
    position: fixed;
    width: 100%;
}

nav .logo {
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 600;
    margin-right: 50px;
    display: flex;
}

nav .main-logo {
    width: 50px;
    height: 50px;
}

nav .logo div {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #5d4840;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: rgb(163, 160, 160);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav .menu-btn i {
    color: #5d4840;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.navbackground {
    background-color: black;
}


/* slider */

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: #111;
}

.slider {
    transform: translateY(100px);
    height: 100vh;
}

.cards {
    margin: 0;
    background: #222;
    padding: 10px;
    display: flex;
    overflow-x: scroll;
}

.cards::-webkit-scrollbar {
    background-color: #222;
    height: 10px;
}

.cards::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 1rem;
}

.cards .card {
    background: #777;
    margin: 0 -50px;
    border-radius: 10px;
    transition: all 500ms ease-in;
    box-shadow: 0px 5px 80px #333;
}

.cards .card:hover {
    margin: 0 20px;
    background: linear-gradient(45deg, violet, skyblue);
    transform: rotate(3deg);
}

.cards .card h1 {
    padding: 0 15px;
    font-size: 18px;
}

.cards .card h1 span {
    font-size: 10px;
    opacity: 0.4;
    color: navy;
}

.cards .card img {
    width: 300px;
    height: 400px;
    object-fit: contain;
}


/* grid */

.grid-container {
    margin: 50px 0;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.lorem {
    padding: 10px 50px;
}

.image img {
    width: 70%;
    height: auto;
}


/* speciality */

.speciality .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    margin: 10px 2rem;
}

.speciality .box-container .box {
    flex: 1 1 25rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: 1rem;
}

.speciality .box-container .box .image {
    height: 600px;
    width: 100%;
    object-fit: cover;
    position: relative;
    top: 0%;
    left: 0;
}

.speciality .box-container .box .content {
    height: 50%;
    text-align: center;
    background: #fff;
    padding: 2rem;
    bottom: 100%;
    position: absolute;
}

.speciality .box-container .box .content img {
    margin: 1.5rem 1rem;
}

.speciality .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.speciality .box-container .box .content p {
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
}

.speciality .box-container .box:hover .image {
    top: 0;
}

.speciality .box-container .box:hover .content {
    transform: translateY(190%);
}


/* contact form */

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.form {
    margin: 5rem auto;
}

.form_wrapper {
    background: linear-gradient(45deg, violet, skyblue);
    width: 800px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin: 5rem auto;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 23px 4px -21px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 23px 4px -21px rgba(0, 0, 0, 0.9);
    box-shadow: 0 23px 4px -21px rgba(0, 0, 0, 0.9);
}

.form_container {
    padding: 15px;
    border: 1px dashed #ccc;
}

.form_wrapper h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
}

.form_wrapper .title_container {
    text-align: center;
    margin: -15px -15px 15px;
    padding: 15px 0;
    border-bottom: 1px dashed #ccc;
}

.form_wrapper h3 {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
}

.form_wrapper .row {
    margin: 10px -15px;
}

.form_wrapper .row>div {
    padding: 0 15px;
    box-sizing: border-box;
}

.form_wrapper .col_half {
    width: 50%;
    float: left;
}

.form_wrapper label {
    display: block;
    margin: 0 0 5px;
}

.form_wrapper .input_field,
.form_wrapper .textarea_field {
    position: relative;
}

.form_wrapper .input_field>span,
.form_wrapper .textarea_field>span {
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    height: 100%;
    border-right: 1px solid rgb(6, 6, 6);
    text-align: center;
    width: 30px;
}

.form_wrapper .textarea_field>span {
    border-bottom: 1px solid rgb(0, 0, 0);
    max-height: 35px;
}

.form_wrapper .input_field>span>i,
.form_wrapper .textarea_field>span>i {
    padding-top: 12px;
}

.form_wrapper input[type="text"],
.form_wrapper input[type="email"],
.form_wrapper input[type="tel"],
textarea {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.form_wrapper textarea {
    height: 8em;
}

.form_wrapper input[type="text"]:focus,
.form_wrapper input[type="email"]:focus,
.form_wrapper input[type="tel"]:focus,
textarea:focus {
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 2px 1px rgba(45, 44, 42, 0.5);
    box-shadow: 0 0 2px 1px rgba(57, 56, 54, 0.5);
    border: 1px solid #000000;
}

.form_wrapper input[type="submit"] {
    background: #000000;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(164, 10, 125);
    font-size: 1.6rem;
    font-weight: 600;
    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -ms-transition: all 0.50s ease-in-out;
    transition: all 0.50s ease-in-out;
}

.form_wrapper input[type="submit"]:hover,
.form_wrapper input[type="submit"]:focus {
    background: rgb(164, 10, 125);
    color: #191818;
}

.credit {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 15px;
    color: #000000;
}

.credit a {
    color: #000000;
}

@media (max-width: 600px) {
    .form_wrapper .col_half {
        width: 100%;
        float: none;
    }
    .form_wrapper label {
        margin: 10px 0;
    }
}

.foot-text {
    margin-top: 50px;
    height: 30px;
    padding: 30px 0 10px 0;
    text-align: center;
    color: white;
    font-family: -webkit-pictograph;
    font-size: 1rem;
}